.skillsSection {
    background: $blackBackground;
    color: #ffffff;
    padding: 160px 0 140px;

}

.sectionTitleContainer {
    text-align: center;

    .sectionTitle {
        font-size: 3.6rem;
        font-weight: 700;
    }
    .sectionSubtitle {
        font-size: 1.7rem;
        font-weight: 400;
    }
}

.skillsContainer {
    display: flex;
    flex-flow: row wrap;
    padding-top: 50px;
    justify-content: space-evenly;


    .skillCard {
        margin: 35px;
        text-align: center;
        padding: 30px 10px;
        flex: 1 1 220px;
        color: $white;
        
        .skillsTitle {
            font-size: 2rem;
            font-weight: 700;
        }
    }
    
    .skillsCardImageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        img {
            width: 100%;
        }
    }
}

@media(max-width: 900px) {
    #skills {
        padding: 30px 0;
    }
}

@media(max-width: 860px) {
    .skillsContainer {
        .fab, .fas {
            font-size: 12rem !important;
        }
        .skillCard {
            flex: 1 1 80px !important;
        }

    }
}

@media(max-width: 480px) {
    .skillsContainer {
        .fab, .fas {
            font-size: 8rem !important;
        }
        .skillCard {
            flex: 1 1 20px !important;
            margin: 0 !important;
        }

    }
}